*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

.heading{
	display: flex;
}

.content{
	display: flex;
	color: #fff;
	background-color: rgba(0, 0, 0, 1.0);
	width: 100%;
	height: 10vh;
	padding: 10px;
}

.nav{
	display: flex;
	background-color: rgba(0, 0, 0, 1.0);
	position: fixed;
	height: 10vh;
	right: 0px;
}

.nav ul{
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.nav ul li{
	display: flex;
	justify-content: space-between;

}

.nav ul li a{
	display: flex;
	color: #fff;
	padding: 10px;
	text-decoration: none;
}

.home{
	display: flex;
	justify-content: center;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	width: 100%;
	height: 10vh;
}

.start{
	display: flex;
	justify-content: center;
	background-color: #000;
	color: #fff;
	width: 100%;
	height: 50vh;
	padding: 10px;
}

.about{
	display: flex;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 10vh;
	color: #fff;
}

.info{
	display: flex;
	justify-content: center;
	background-color: #000;
	color: #fff;
	width: 100%;
	height: 50vh;
}

.contact{
	display: flex;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 10vh;
}

.social{
	display: flex;
	background-color: #000;
	width: 100%;
	height: 50vh;
	color: #fff;
	padding: 20px;
}

.social ul{
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin: 20px -130px;
}

.social ul li{
	display: flex;
	font-family: Arial;
	font-weight: bold;
}

.social ul li a{
	color: #fff;
	text-decoration: none;
}

.tel{
	display: flex;
	justify-content: space-between;
	color: #fff;
	margin: 0px 400px;
}

.mail{
	padding: 0px;
}
